blackwhiteletters/convnet/pytorch.py
AE
fingeralphabet/dataset
fingeralphabet/kaggle_set
fingeralphabet/videos
fingeralphabet/convnet/Nets/*
!/notebooks/
/notebooks/**
!/notebooks/TexMA18.tex
!/notebooks/TexMA18.pdf